$primarynavcolor: #435363;
$highlightcolor: #f57722;
$capitalizedfont: 'Open Sans Condensed',
sans-serif;
$borderColor: 1px solid #d6e4f1;
$bodyFont: 'Roboto',
sans-serif;
$bodyText: #3f3f3f;
$fallbackcolor: #d6e4f1;
$highlightBorder: 1px solid #f57722;
$lightBorder: 1px solid #cccccc;
$bottommargin: 1rem;
$roundedBorder: 5px;
$halfmargin: .5rem;
$footerBackground: #414a4f;
$smallText: .75rem;


@mixin sectionImage($src, $fallbackcolor) {
  width: 80%;
  border-radius: $roundedBorder;
  border: $lightBorder;
}

@mixin flexsection {
  display: flex;
  flex-direction: row;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $bodyFont;
  color: $bodyText;
  background-color: #eff7fe;
}


h1 {
  color: $primarynavcolor;
  font-family: $capitalizedfont;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: $halfmargin;
}

h2 {
  color: $highlightcolor;
  font-family: $capitalizedfont;
  text-transform: uppercase;
  margin-bottom: $halfmargin;
}

h3 {
  color: $highlightcolor;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .80rem;
  margin: 0;
  text-align: left;
}

.hidden {
  display: none;
}

hr {
  width: 100%;
  height: 1px;
  background-color: $highlightcolor;
  border: 0;
  margin-bottom: $bottommargin;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  p {
    //    width: 100%;
    margin-bottom: $bottommargin;
    line-height: 1.5rem;
  }

}

.main {
  border-top: $borderColor;
  border-bottom: $borderColor;
}

.textLinks {
  text-decoration: none;
  color: #00bc9a;

  &:hover {
    cursor: pointer;
    text-decoration: underline;

  }
}

.iconDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f0f0f0;
}

/*----------------------
 	Nav Section
----------------------*/

.flexmenu {
  width: 100%;
  background-color: #ffffff;
  color: $primarynavcolor;
  line-height: 1.4em;

}

.flex {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0.5em;
}

.menu {
  display: none;
  align-items: flex-start;
  width: 20%;
  text-transform: uppercase;
  white-space: nowrap;
  &:first-child {
    display: inline-flex;
    text-align: left;
    justify-content: space-between;
    width: 80%;
    margin-left: 0;
    margin-right: auto;
  }

  .active {
    color: $highlightcolor;
  }
  a {
    color: $primarynavcolor;
    text-decoration: none;
    padding: 0 0.5em;
    text-transform: uppercase;
    font-family: $capitalizedfont;
    font-size: 1.5rem;

    &:hover {
      color: $highlightcolor;
    }
  }
}

.mobile-menu {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: 1.2em;
}

.menu-icon {
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: inline-flex;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .flex {
    flex-direction: row;
  }
  .menu {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    white-space: nowrap;

  }
}


/*----------------------
 	End Nav Section
----------------------*/

/*----------------------
 	Cover image Section
----------------------*/

.coverImage {
  height: 45vh; //  @include bg-img("../images/pexels-photo-207489.jpeg", $fallbackcolor); 
  background: no-repeat center center scroll;
  background-size: cover;
  opacity: 1;
  background-image: url('../images/pexels-photo-207489.jpeg');
}


/*----------------------
 	End Cover image Section
----------------------*/

/*----------------------
 	Features Section
----------------------*/

.features {
  background-color: #f7f7f7;


  i {
    font-size: 2rem;
    color: #00bc9a;
    margin-bottom: 1rem;
  }
  h4 {
    color: #00bc9a;
    font-size: 1.3rem;
    margin-bottom: $bottommargin;
    display: inline;
    font-family: $capitalizedfont;
    text-transform: uppercase;

    a {
      color: #00bc9a;
      text-decoration: none;

      &:hover {
        color: $highlightcolor;
      }
    }
  }
  p {
    margin: 0;
  }
  img {
    width: 100%;
    border: $lightBorder;
  }

}

.grid li {
  padding: .5rem;
  flex-basis: 30%;
  list-style-type: none;
  border: $lightBorder;
  border-radius: $roundedBorder;
  margin: .25rem;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .grid li {
    flex-basis: 100%;
  }
}


ul.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



/*----------------------
 	End Features Section
----------------------*/

/*--------------------
 	Goals Section
--------------------*/

.goals {
  background-color: #fff;
  border-top: $borderColor;
  border-bottom: $borderColor;
  img {

    width: 80%;
    border-radius: $roundedBorder;
    border: $lightBorder;
  }
}

.goalsSection {
  @include flexsection;
}

@media screen and (max-width: 768px) {
  .goalsSection {
    display: flex;
    flex-direction: column;
  }
}


/*--------------------
 	End Goals Section
--------------------*/

/*---------------------
 	Contact Section
---------------------*/

.contact {
  background-color: #f7f7f7;
  p {
    text-align: center;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    width: 80%;
  }
  input {
    padding: 1rem;
    flex: 1;
    margin-right: 1rem;
    font-size: 1.2rem;
    color: #555;
  }

}

.btn {
  padding: .5rem 1.5rem;
  background-color: $highlightcolor;
  border-radius: $roundedBorder;
  color: #ffffff;
  text-decoration: none;
  margin: $halfmargin;


  &:hover {
    background-color: #ffffff;
    color: $highlightcolor;
    border: $highlightBorder;
  }
}

/*---------------------
 	End Contact Section
---------------------*/

/*-------------
 	Footer
-------------*/

footer {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: $footerBackground;
  font-size: $smallText;
  section {
    align-items: flex-start;

    article {
      margin-right: 1rem;
    }
    a {
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: $smallText;

      &:hover {
        color: $highlightcolor;
      }
    }
  }
}

.affiliateSection {
  @include flexsection;
  flex-wrap: wrap;
  padding-right: .5rem;
  margin: 0;
}

.mediaSection {
  @include flexsection;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5px;
  padding: 0;
}

.mediaSection p {
  margin: 0;
  text-align: left;
  padding: 0;
}

.spaceBetween {
  padding: .5rem;
}

.mediaShare {
  @include flexsection;
}

.copyright {
  padding: .5rem;
  font-size: $smallText;
}

/*-------------
 	End Footer
-------------*/

/*-------------------------
 	Inner page styles
-------------------------*/

.innerSection {
  @include flexsection
}


.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #6c757d;
  content: "/";
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #6c757d;
}
